nav>ul {
    display: flex;

}


nav li {
    list-style: none;
    margin-right: 10px;


}

nav li:hover {
    background-color: royalblue;


}

nav li a {
    text-decoration: none;
    color: red;
}

.drop-down {
    display: none;
    position: absolute;
    background-color: lightyellow;
    padding: 0 1px;
}

nav>ul>li:hover>ul {
    display: block;
}